@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@200;400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-all;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  font-family: "Noto Sans JP", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
}

select option {
  color: #333;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
  resize: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #333;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::placeholder {
  opacity: 1;
  color: #333;
}

.SPACER--60 {
  height: 60px;
}

.SPACER--80 {
  height: 80px;
}

.SPACER--100 {
  height: 100px;
}

.SPACER--130 {
  height: 130px;
}

.SPACER--160 {
  height: 160px;
}

.SPACER--200 {
  height: 200px;
}

.SP--NONE {
  display: block;
}

@media (max-width: 767px) {
  .SP--NONE {
    display: none;
  }
}

.TAB--NONE {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .TAB--NONE {
    display: none;
  }
}

@media (max-width: 767px) {
  .TAB--NONE {
    display: none;
  }
}

.inner {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.header {
  background: #fff;
  height: 100px;
  max-width: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: table;
}

.header__logo {
  width: 70%;
  display: table-cell;
  height: 80px;
  text-align: center;
}

.header__logo a {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 100%;
}

.header__logo a img {
  max-width: 325px;
  height: 100%;
  margin: 0;
}

.drawer {
  width: 30%;
  display: table-cell;
  text-align: right;
  position: relative;
  width: 45px;
  height: 45px;
}

.drawer__checkbox {
  display: none;
}

.drawer__icon {
  cursor: pointer;
  display: block;
  width: inherit;
  height: inherit;
  position: fixed;
  top: 30px;
  bottom: 0;
}

@media (max-width: 767px) {
  .drawer__icon {
    top: 10px;
  }
}

.drawer__icon-parts, .drawer__icon-parts::before, .drawer__icon-parts::after {
  background: #c4c4c4;
  display: block;
  width: 70px;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer__icon-parts::before, .drawer__icon-parts::after {
  content: "";
}

.drawer__icon-parts::before {
  top: 26px;
}

.drawer__icon-parts::after {
  top: -26px;
}

.drawer__overlay {
  background: #333;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.drawer__menu {
  background: #fff;
  color: #333;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -320px;
}

.drawer__menu .drawer__item {
  display: block;
}

.drawer__menu .drawer__item:not(:first-child) {
  margin-top: 10px;
}

.drawer__menu .drawer__item-inner {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.drawer__icon {
  z-index: 104;
}

.drawer__menu {
  z-index: 103;
}

.drawer__overlay {
  z-index: 101;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts {
  background: transparent;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.drawer__checkbox:checked ~ .drawer__menu {
  right: 0;
}

@media (max-width: 767px) {
  .drawer__checkbox:checked ~ .drawer__menu {
    max-width: 230px;
  }
}

.drawer__checkbox:checked ~ .drawer__menu ul {
  width: 200px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
}

.drawer__checkbox:checked ~ .drawer__close {
  left: 0;
}

.drawer__icon-parts, .drawer__icon-parts::after, .drawer__icon-parts::before, .drawer__overlay, .drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.drawer__close {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 102;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.month__wx span {
  display: inline-block;
  margin-right: 20px;
}

.table {
  font-size: 24px;
  border-collapse: collapse;
  border-top: 2px solid #333;
}

.table__date {
  text-align: center;
}

.table__date th {
  background: #c4c4c4;
}

.table__wx {
  text-align: center;
}

.table__mental {
  text-align: center;
}

th,
td {
  padding: 20px;
  border: solid 1px #333;
  vertical-align: middle;
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  .card__items {
    display: block;
  }
}

.card__wrapper {
  width: 20%;
  height: auto;
  position: relative;
  height: 300px;
}

.card__wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (max-width: 767px) {
  .card__wrapper {
    width: 100%;
  }
}

.card__item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  border: 1px solid #333;
}

.card__item::before {
  content: "";
  vertical-align: middle;
  width: 0px;
  display: inline-block;
}

.card__item img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.today__action--dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.today__action--select {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .today__action--select {
    width: 20%;
  }
}

.today__action--select select {
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 5px 10px;
  border: 1px solid #c4c4c4;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #c4c4c4 url(../img/arrow-mark.png) no-repeat right 12px center/14px 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .today__action--select select {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .today__action--select select {
    font-size: 16px;
  }
}

.today__action--select select option {
  color: #333;
}

.today__action--select select option:first-child {
  display: none;
}

.today__action--input {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) {
  .today__action--input {
    width: 40%;
  }
}

.today__action--input input {
  width: 100%;
  font-size: 24px;
  color: "Noto Sans JP", sans-serif;
  border: 1px solid #333;
  border-radius: 0;
  height: 100%;
}

.today__action--input input:focus {
  outline: 0;
}

.today__action--btn {
  text-align: center;
  height: 100%;
}

@media (min-width: 1025px) {
  .today__action--btn {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .today__action--btn {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .today__action--btn {
    margin-top: 30px;
  }
}

.today__action--btn input {
  width: 100%;
  font-size: 24px;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  border-radius: 10px;
}

.today__action--btn input:hover {
  opacity: 0.6;
}

.table__old {
  border-collapse: collapse;
  border: 1px solid #333;
  background: #fff;
  font-size: 24px;
  width: 100%;
  table-layout: fixed;
}

.table__old--list {
  text-align: center;
}

.table__old--list th {
  background: #c4c4c4;
  color: #fff;
  border: 1px solid #333;
}

.table__old--list th:first-child {
  width: 200px;
}

.table__old--list th:last-child {
  width: 300px;
}

.table__old--wx td {
  text-align: center;
  border: 1px solid #333;
}

.table__old--wx td p {
  font-size: 24px;
}

.table__old--wx td img {
  width: 60%;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.share h2 {
  width: 40%;
  text-align: center;
}

.facebook {
  background-color: #2e4a88;
  -webkit-box-shadow: 0 4px 0 #1b3d82;
          box-shadow: 0 4px 0 #1b3d82;
  text-shadow: 0 -1px -1px #1b3d82;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 14px 80px;
  margin-right: 20px;
}

.facebook:hover {
  background-color: #354f84;
}

.facebook:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #1b3d82;
          box-shadow: 0 2px 0 #1b3d82;
}

.twitter {
  background-color: #008dde;
  -webkit-box-shadow: 0 4px 0 #0078bd;
          box-shadow: 0 4px 0 #0078bd;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 14px 80px;
}

.twitter:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #0078bd;
          box-shadow: 0 2px 0 #0078bd;
}

.twitter:hover {
  background-color: #1397d8;
}

.footer {
  width: 100%;
  background: #006bb2;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */